<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block page_title %}{% endblock page_title %} | 테스트</title>
</head>

<body>
    <header>
        {% include "partials/nav.html" %}
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>